<%= render 'partial/navbar' %>
<div class="container">
    <div class="col-md-3">
        <!-- vertical-navbar -->
        <%= render 'partial/verticalnavbar'%>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
          <div class="panel-heading">
              <div class="text-center">
                  <span style="font-size:24px;">基本情報の編集</span>
              </div>
          </div>

          <div class="panel-body">           
              <%= form_for @listing do |f| %>
               
   
                    <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label>本人お名前</label>
                                  <%= f.text_field :name, placeholder: "山田 太郎", class: "form-control" %>
                              </div>
                          </div>
                      </div>
  
             
                       <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                   <label>生年月日</label><br>
              <%= raw sprintf(
                          f.date_select(
                              :birth_date,
                              use_month_numbers: true,
                              start_year:        1930,
                              end_year:          (Time.now.year),
                              default:           Date.new(1960, 1, 1),
                              date_separator:    '%s'),
                          '年 ', '月 ') + '日' %>
                </div>
              </div>
            </div>

                     <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label>住所</label>
                                  <%= f.text_field :address, placeholder: "例: 東京都港区六本木６丁目１１−１", class: "form-control" %>
                              </div>
                          </div>
                      </div>


                    <div class="row">
                        <div class="col-md-12 select">
                            <div class="form-group">
                                <label>要介護状態区分</label>
                                <%= f.select :pet_type, [["1","利用者負担"], ["2","4"], ["3","3"], ["4","2"], ["5","1"], ], {prompt:"選択してください"}, {required: 'true', autofocus: 'true', class: 'form-control'} %>
                            </div>
                        </div>
                    </div>

                       <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                   <label>初回居宅サービス計画作成日</label><br>
              <%= raw sprintf(
                          f.date_select(
                              :initial_hm_plan_date,
                              use_month_numbers: true,
                              start_year:        1930,
                              end_year:          (Time.now.year),
                              default:           Date.new(1960, 1, 1),
                              date_separator:    '%s'),
                          '年 ', '月 ') + '日' %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                   <label>居宅サービス計画作成（変更）日</label><br>
              <%= raw sprintf(
                          f.date_select(
                              :hm_plan_date,
                              use_month_numbers: true,
                              start_year:        1930,
                              end_year:          (Time.now.year),
                              default:           Date.new(1960, 1, 1),
                              date_separator:    '%s'),
                          '年 ', '月 ') + '日' %>
                </div>
              </div>
            </div>           


             <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                   <label>認定日</label><br>
              <%= raw sprintf(
                          f.date_select(
                              :certification_date,
                              use_month_numbers: true,
                              start_year:        1930,
                              end_year:          (Time.now.year),
                              default:           Date.new(1960, 1, 1),
                              date_separator:    '%s'),
                          '年 ', '月 ') + '日' %>
                </div>
              </div>
            </div>

             <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                   <label>認定の有効期間</label>
                   <br>
              <%= raw sprintf(
                          f.date_select(
                              :period_of_the_certification,
                              use_month_numbers: true,
                              start_year:        2010,
                              end_year:          (Time.now.year+4),
                              default:           Date.new(2020, 1, 1),
                              date_separator:    '%s'),
                          '年 ', '月 ') + '日' %>
                  
                  〜

               <%= raw sprintf(
                          f.date_select(
                              :period_of_the_certification,
                              use_month_numbers: true,
                              start_year:        2010,
                              end_year:          (Time.now.year+4),
                              default:           Date.new(2012, 1, 1),
                              date_separator:    '%s'),
                          '年 ', '月 ') + '日' %>
                </div>
                </div>
              </div>
            </div>



                  <div class="actions">
                      <%= f.submit "更新", class: "btn btn-danger" %>
                  </div>
              <% end %>
          </div>
      </div>
  </div>
</div>